/* Default CSS */
:root {
  --point: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
* {
  font-family: 'Pretendard Variable';
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  padding: 20px 0;
  background: #fafbfc;
  background-image: var(--point);
  font-size: 14px;
  color: #706d7e;
}
a {
  text-decoration: none;
  font-size: 14px;
  color: #706d7e;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.15);
}

/* Reset CSS */
h1, h2, h3, h4, h5, h6, p, ul, ol, fieldset {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none;
}
input, button, textarea, select, fieldset {
  outline: none;
  border: none
}
fieldset, input, button {
  background: transparent;
}
textarea {
  resize: none;
}

/* Custom Design */
.container {
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
  background: #fff;
  border-radius: 20px;
}
#form {
  padding: 0 14px;
}
.form-box {
  margin: 0 0 25px;
}
.form-label {
  display: block;
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 16px;
}
.form-input {
  display: block;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
#name {
  height: 45px;
  padding: 5px;
}
#writing {
  height: 150px;
  padding: 10px 5px;
}
#btnSubmit {
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  border-radius: 7px;
  background-image: var(--point);
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

#test {
  width: 100%;
  height: calc(100% - 358px);
  padding: 30px 14px 0;
  overflow: hidden;
  overflow-y: scroll;
}
.list-item {
  padding: 35px 20px 30px;
  border-radius: 13px;
  box-shadow: 0 0 10px rgba(0,0,0,0.055);
  border: 1px solid #fafbfc;
  position: relative;
}
.list-item:not(:last-child) {
  margin: 0 0 20px;
}
.list-item [class *= "data-"]:not(.data-text) {
  display: inline-block;
}
.data-name {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
  font-size: 15px;
}
.data-time {
  position: absolute;
  right: 14px;
  top: 35px;
  font-size: 12px;
  color: #ababab;
}
.data-text {
  display: block;
  margin: 20px 0 0;
  line-height: 1.4em;
  font-weight: 500;
  font-size: 20px;
}

@media (prefer-color-scheme: dark) {
  :root {
    --point: background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }
  .list-item {
    box-shadow: 0 0 10px rgba(255,255,255,0.055);
  }
}
@media (prefer-color-scheme: light) {
  :root {
    --point: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  }
  .list-item {
    box-shadow: 0 0 10px rgba(0,0,0,0.055);
  }
}

/* Responsive */
@media (max-width: 1200px) {
  body {
    padding: 20px;
  }
  .container {
    max-width: 100%;
    padding: 50px 0;
    border-radius: none;
  }
}
@media (max-width: 767.98px) {
  body {
    padding: 0;
    background: transparent;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .container {
    padding: 30px 0;
    border-radius: 0px;
  }
}